/* Custom section - night mode + bg tweak */
body, div.ah {
	background-color:#151515 !important;
	filter:invert(100%) hue-rotate(180deg);
	-webkit-filter:invert(100%) hue-rotate(180deg);
}
div.ah {
	box-shadow: 2px 2px 3px #000;
	-webkit-box-shadow: 2px 2px 3px #000;
}
.contents table td a.el{
	white-space: pre-line !important;
	font-size: small;
	font-weight: bold;
	/*width: 1% !important;*/
}
.contents table td {
	width: 10% !important;
}
.contents table td td {
	width: unset !important;
}
table {
	overflow-wrap: break-word;
	white-space: pre-line !important;
}
