body, div.ah {
	background-color:#222 !important;
	filter:invert(100%) hue-rotate(180deg);
	-webkit-filter:invert(100%) hue-rotate(180deg);
}
div.ah {
	box-shadow: 0px 0px 2px #fff;
	-webkit-box-shadow: 0px 0px 2px #fff;
}
#projectname {
	font-weight: bold;
	font-variant: small-caps;
	margin-right: 1em;
}
#projectname, #projectnumber, #projectbrief {
	overflow-x: show;
	display:inline-block;
}
code {
	font-weight: bold;
}
