body, div.ah {
	background-color: #222 !important;
	filter: invert(100%) hue-rotate(180deg);
	-webkit-filter: invert(100%) hue-rotate(180deg);
}
div.ah {
	border-radius: 5px;
	border: solid black 2px;
}
div.ah, .memproto, .memdesc, .memitem, .memdoc {
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}
.memdoc {
	background-image: none !important;
}

#projectname {
	font-weight: bold;
	font-variant: small-caps;
	margin-right: 1em;
}
#projectname, #projectnumber, #projectbrief {
	overflow-x: show;
	display: inline-block;
}
code {
	font-weight: bold;
}
